:host {
  mat-card {
    background-color: lightgreen;
    height: 200px;
    padding: 15px;
    width: 500px;

    .header {
      align-items: center;
      display: flex;
      justify-content: space-between;

      span {
        color: black;
      }
    }

    div {
      word-break: break-all;
    }
  }
}