<mat-toolbar color="primary">
  <header>
    <h1>Posts App</h1>
  </header>
</mat-toolbar>

<main>
  <div class="form-manager">
    <strong *ngIf="!isFormVisible">Want to add a new post?</strong>
    <button mat-button mat-raised-button color="primary" (click)="toggleForm()">
      {{ isFormVisible ? 'Close Form' : 'Open Form' }}
    </button>
  </div>
  <app-post-form *ngIf="isFormVisible"></app-post-form>
  <ng-container *ngIf="posts | async as postList">
    <app-post-list [posts]="postList"></app-post-list>
  </ng-container>
  <div class="spinner" *ngIf="showSpinner">
    <mat-spinner color="accent"></mat-spinner>
    <span>Posts are being requested...</span>
  </div>
</main>
